<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><img style="width: 70px; height:70" src="https://images-na.ssl-images-amazon.com/images/I/71TSV%2BEMFbL._SL1500_.jpg" alt=""></td>
                    <td>Dell Laptop</td>
                    <td>
                        <button class="cart-item-count mr-3">-</button>1<button class="cart-item-count ml-3">+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>