<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Create a New Account</h2>
                <form action="/signup" method = "POST">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="name" name="Name" class="form-control" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" name="Email" class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="Password" class="form-control" placeholder="Password">
                    </div>
                    <a href="/login">Already a User ?</a>
                    <button type="submit" class="btn btn-primary float-right">Signup</button>
                </form>
        </div>
    </div>
</div>